<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">
        <title>{{ page.title }} — nick novitski</title>
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel=icon href="/images/shedu_64.jpeg" sizes="64x64" type="image/jpeg">
        {% feed_meta %}
        {% seo title=false %}
    </head>
    <body>

        <div class="site">
          <header>
            <h1 class="title"><a href="/">nick novitski</a></h1>
            <a class="extra" href="/now">now</a>
          </header>

          {{ content }}

          <footer>
            <div class="contact">
              <p>
                Nick Novitski<br />
                Literate Developer<br />
                site@nicknovitski.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/nicknovitski" rel="me">github</a><br />
                <a href="https://twitter.com/nicknovitski" rel="me">twitter</a><br />
                <a href="https://www.facebook.com/nick.novitski" rel="me">facebook</a><br />
              </p>
            </div>
          </footer>
        </div>

        <!-- Drip -->
        <script type="text/javascript">
            var _dcq = _dcq || [];
            var _dcs = _dcs || {};
            _dcs.account = '4556877';

            (function() {
                var dc = document.createElement('script');
                dc.type = 'text/javascript'; dc.async = true;
                dc.src = '//tag.getdrip.com/4556877.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(dc, s);
            })();
        </script>
    </body>
</html>
