---
layout: default
---

<article class="post">
  <header>
    <h2>{{ page.title }}</h2>
    {% assign words = content | number_of_words %}
    {% assign minutes = words | divided_by: 300 %}
    <div class="reading-time">
      {{ words }} words,
      {% if minutes == 0 %}
        less than a minute
      {% else %}
        around {{ minutes }} minute{% unless minutes == 1 %}s {% endunless %}
      {% endif %}
      to read
    </div>
  </header>
  <p>Hello, friends!</p>
  {{ content }}
  <p>Good luck,<br/>nick</p>
  <footer>
  <p>PS: If you noticed any mistakes in what I've written, and are prepared to accept the sacred burden of Being That Person, you can <a
href="{{ site.github.repository_url }}/blog/master/{{ page.path
}}">make a correction on github</a>.</p>
  <form action="https://www.getdrip.com/forms/10000215/submissions" method="post" data-drip-embedded-form="10000215">
    <p>
     PPS: give me your
      <label for="fields[email]">email</label>
      (<input type="email" name="fields[email]" value="" autocomplete="email" required="required" placeholder="you@whereyoureat.com" />)
      to
      <input type="submit" name="submit" value="put me in your inbox" data-drip-attribute="sign-up-button" />
      .
    </p>
  </form>
  </footer>
</article>
